<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
<body>
    <div class="container">
        <h1>Listar</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th>Bairro</th>
                    <th>CEP</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each registros}}
                <tr>
                    <td>{{nome}}</td>
                    <td>{{endereco}}</td>
                    <td>{{bairro}}</td>
                    <td>{{cep}}</td>
                    <td>{{cidade}}</td>
                    <td>{{estado}}</td>
                    <td>
                        <!-- Botões de atualizar e excluir -->
                        <button class="btn btn-primary">Atualizar</button>
                        <button class="btn btn-danger">Excluir</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>
